.pagination {
    margin-top: 13px;
    text-align: center;
    a {
        display: inline-block;
        height: 38px;
        padding: 0 15px;
        border: 1px solid #000000;
        line-height: 38px;
        &:hover {
            color: #FFFFFF;
            background-color: #000000;
            transition-duration: 0.3s;
        }
    }
    span {
        display: inline-block;
        height: 38px;
        padding: 0 15px;
        border: 1px solid #000000;
        color: #FFFFFF;
        line-height: 38px;
        background-color: #000000;
    }
}